body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  margin-top: 30px;
}
.form.login {
  max-width: 330px;
}
.form .form__custom-button {
  margin-top: 50px;
}
button.deleteButton {
  margin: auto 0;
}
button.add_icon {
  margin: 10px;
}
.recepie_list {
  margin-top: 10px;
}
.link_recepie {
  color: #fff;
  text-decoration-line: none;
}